@model EasonProjectASPNETMVC5.Models.TestTable
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OneDataDetails</title>
</head>
<body>
    <div>
        <h4>TestTable</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.SerialNumber)<br/>
                @Html.LabelFor(m => m.SerialNumber, "SerialNumber Column Name2")<br/>
                @Html.Label("SerialNumber Column Name3")
            </dt>
    
            <dd>
                <font color="Blue">@Html.DisplayFor(model => model.SerialNumber)</font><br/>
                <font color="Red">@Model.SerialNumber</font>
            </dd>
    
            <dt>
                @Html.DisplayNameFor(m => m.rDateTime)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.rDateTime)<br />
                Format1: <font color="Blue">@Html.DisplayFor(o => o.rDateTime, "{0:yyyy/MM/dd hh:mm:ss}")</font><br />
                Format2: <font color="red"> @String.Format("{0:yyyy/MM/dd}", Model.rDateTime.ToString()) </font> <br />
                LogDate: <font color="orange"> @Convert.ToDateTime(Model.rDateTime).ToLongDateString() </font> <br />
                ShortDate: <font color="green"> @Convert.ToDateTime(Model.rDateTime).ToShortDateString() </font> <br />
                Convert: <font color="brown"> @Convert.ToDateTime(Model.rDateTime).ToString("yyyy/MM/dd") </font> <br /><br />
                IF: <font color="navy"> @(Model.rDateTime.HasValue ? Model.rDateTime.Value.ToString("yyyy/MM/dd") : "") </font>
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Station)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Station)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Value1)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Value1)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Value2)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Value2)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Result)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Result)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
