@model IEnumerable<EasonProjectASPNETMVC5.Models.DepartmentStudentViewModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetDepartmentStudent5</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table" border="1">
        <tr>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentViewModel.DepartmentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentViewModel.DepartmentYear)
                    <hr />
                    <table border="1">
                        @foreach (var item2 in item.DepartmentViewModel.StudentTable)
                        {
                        <tr>
                            <td>@Html.DisplayFor(modelitem2 => item2.DepartmentID)</td>
                            <td>@Html.DisplayFor(modelitem2 => item2.StudentName)</td>
                            <td>@Html.DisplayFor(modelitem2 => item2.StudentID)</td>
                            <td>@Html.DisplayFor(modelitem2 => item2.Phone)</td>
                        </tr>
                        }

                    </table>
                </td>

            </tr>
        }

    </table>
</body>
</html>
