@model IEnumerable<EasonProjectASPNETMVC5.Models.DepartmentStudent2ViewModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListDepartmentStudent2</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th></th>
        </tr>

        @foreach (var itemDP in Model)
        {
            <tr>
                <td>
                    DepartmentID:@Html.Label(itemDP.DPTbl.DepartmentID.ToString());
                    DepartmentName:@Html.DisplayFor(item => itemDP.DPTbl.DepartmentName) ;
                </td>
            </tr>
            <tr>
                <td>
                    學生清單 : 
                    @foreach (var itemSD in itemDP.SDTbl)
                    {
                        @Html.DisplayFor(item => itemSD.DepartmentID);
                        @Html.DisplayFor(item => itemSD.StudentName);
                        @Html.DisplayFor(item => itemSD.Age);
                        @Html.DisplayFor(item => itemSD.Phone);
                        <br/>
                    }


                </td>

            </tr>
            
        }

    </table>
</body>
</html>
