@model EasonProjectASPNETMVC5.Models.DropDownListViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create4</title>
</head>
<body>
    <div>
        <h4>DropDownListViewModel</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.DDL_ID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DDL_ID)
            </dd>

            @*  *************************** (1) ID名稱 ******* **** (2) 子選項（SelectListItem） ****  *@
            #1  @Html.DropDownListFor(model => model.DDL_ID, Model.DDL_List, "-=請選擇=-")
            <!--                                 *****************************    -->
            <br />
            <br />

            @*  ****************************************** 子選項（SelectListItem） ****************  *@
            #2  @Html.DropDownList("DDL_List", Model.DDL_List, "-=請選擇=-")

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
